
.nm{
	border-bottom: 1px solid grey; 
	background-color: lightgrey; 
	margin-top: 0; 
	height: 15px; 
	padding: 10px;
}
.to{
	width: 492px;
	height: 20px;
	padding: 2px;
	display: ;
}
.subject{
	width: 492px;
	height: 20px;
	padding: 2px;
}
.textar{
	height: 300px;
	width: 492px;
}
th:hover{
	background-color: lightgrey;
}
.Inboxtable tr:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

